@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  list-style: none;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-wrapp {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
}

.mowies-wrapp {
  display: grid;
  grid-template-columns: 35% 65%;
}

@media (max-width: 768px) {
  .mowies-wrapp {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .main-wrapp {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 340px) {
  .hidden-toogle-theame {
    display: none;
  }
}

.bg-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.bg-shadow-basic {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.text-shadow-basic {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-shadow-3d {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5),
    0 0 40px rgba(255, 255, 255, 0.5);
}

.text-shadow-halo:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5),
    0 0 40px rgba(255, 255, 255, 0.5);
}

.text-shadow-focus {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5),
    0 0 40px #00fff6, 0 0 70px #00fff6, 0 0 80px #00fff6, 0 0 100px #00fff6;
}
